@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f2f2f2;
}

.wrapper {
    position: absolute;
    bottom: 20px;
    right: 20px;
    /* transform: translate(-50%, -50%); */
    animation: show_toast 1s ease forwards;
}

@keyframes show_toast {
    0% {
        transform: translateY(-100%);
    }
    /* 40% {
        transform: translateY(-80%);
    } */
    100% {
        transform: translateY(0%);
    }
}

.toast.hide {
    animation: hide_toast 1s ease forwards;
}

@keyframes hide_toast {
    0% {
        transform: translateY(0%);
    }
    /* 40% {
        transform: translateY(-80%);
    } */
    100% {
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
    }
}

.wrapper .toast {
    background: #fff;
    padding: 20px 15px 20px 20px;
    border-radius: 10px;
    width: 430px;
    display: flex;
    align-items: center;
    border-left: 5px solid #ccc;
    justify-content: space-between;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
}

.wrapper .toast.offline {
    border-color: #ccc;
}

.wrapper .toast.online {
    border-color: #2ecc71;
}

.wrapper .toast.checking {
    border-color: #ffa500;
}

.toast .content {
    display: flex;
    align-items: center;
}

.toast .content .icon {
    font-size: 25px;
    background: #ccc;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.toast.offline .content .icon {
    background: #ccc;
}

.toast.online .content .icon {
    background: #2ecc71;
}

.toast.checking .content .icon {
    background: #ffa500;
}

.toast .content .details {
    margin-left: 15px;
}

.content .details span {
    font-size: 1rem;
    font-weight: 500;
}

.content .details p {
    color: #878787;
}

.toast .close-icon {
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    cursor: pointer;
    color: #878787;
    border-radius: 50%;
}